* {box-sizing: border-box; margin: 0; padding: 0;}
body{
	margin: 0;
	background-color: #ecf0f1;
	font-family: sans-serif;
}

#enigma {
	width: 960px;
	margin: auto;
	margin-top: 10px;
	border: solid 1px #333;
}

#mainHeader {
	height: 150px;
	background-color: #3498db;
	color: #fff;
	text-align: center;
	padding-top: 20px;
}

#mainContent {
	padding:20px;
}
#mainContent nav ul {
	list-style: none;
}
#mainContent nav ul {
	list-style: none;

}
#mainContent nav ul li{
	color: white;
	
	
}

#mainContent nav ul li:nth-of-type(1){
	border-bottom-left-radius:10px;

}

#mainContent nav ul li:nth-of-type(3){
	border-bottom-right-radius:10px;
}
	

#mainContent nav ul li label{
width:100%;
float:left;
height:30px;
background-color:#3498db;
padding:5px 0px 0px 5px;
}

#mainContent nav ul ul{
	text-align:center;
	margin-bottom:20px;
}

#mainContent nav ul ul li {
	position:relative;
	display:inline;
	float:left;
	width:33.33%;
	
	text-align: center;
	margin:-10;
	padding:0;
	background-color:#2980b9;
	
}
#mainContent nav ul li ul li {
	display: inline;
	text-align: center;
	
}
#mainContent nav ul li ul li a {
	width: 32%;
	float: left;
	margin: 3px;
	color: white;
	padding: 10px;
	width:100%;
	height:100%;
	margin:0;
	
}

	
}
.clearLeft {
	clear: left;
}
#mainContent label {
	font-weight: 100;
}
.btnFull {
	padding: 10px;
	width: 100%;
	margin-bottom: 10px;
	border-radius: 2px;
	color: white;
	border: none;
	cursor: pointer;
	box-shadow: inset 0 0 0 1px rgba(0,0,0,0.14);
}
#loginBtn {
	background: #2ecc71;
}
#loginBtn:active {
	background: #27ae60;
}
#regBtn {
	background: #aaa;
}
#regBtn:active {
	background: #868686;
}
input[type="text"], input[type="password"] {
	padding: 10px;
	border: 1px solid #cecece;
	border-radius: 3px;
	outline: none;
	width: 100%;
	margin-bottom: 10px;
	font-weight: 100;
	font-size: 14px;
}


@media handheld, screen and (max-width:1024px){
	#enigma {
		width: 768px;
	}
}

@media handheld, screen and (max-width:850px){
	#enigma {
		width: 90%;
	}
}

@media handheld, screen and (max-width:500px){
	#enigma {
		width: 320px;
	}
}