* {box-sizing: border-box; margin: 0; padding: 0;}
body{
	margin: 0;
	background-color: #ecf0f1;
	font-family: sans-serif;
}

#enigma {
	width: 960px;
	margin: auto;
	margin-top: 10px;
	border: solid 1px #333;
}

#mainHeader {
	height: 150px;
	background-color: #3498db;
	color: #fff;
	text-align: center;
	padding-top: 20px;
}

#mainContent {
	padding-top: 30px;
	padding-bottom: 30px;
}
#mainContent nav ul {
	list-style: none;
}
#mainContent nav ul li{
	background: #7a74e7;
	color: white;
	margin: 0 10px 10px 10px;
	padding: 10px;

}
#mainContent nav ul li ul li {
	display: inline;
	text-align: center;
	
}
#mainContent nav ul li ul li a {
	width: 32%;
	float: left;
	margin: 3px;
	color: white;
	padding: 10px;
	
}


.clearLeft {
	clear: left;
}

nav ul.menuSection label{
	float:left;
	width:955px;
	height:50px;
	padding:25px 0px 0px 5px;
	background-color:#09F;
	text-align:left;
	font-family:"Century Gothic";
	font-size:1.4em;
	border-bottom:1px solid #000;
	
	}

nav ul.menuSection {
	list-style: none;
	padding: 0px;
	text-align: left;
}
nav ul.menuSection li {
	width:33%;
	height:30px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	display:inline-block;
	clear: both;
	background-color:#09F;
	text-align:center;
	padding:15px 0px 0px 0px;

}

@media handheld, screen and (max-width:1024px){
	#enigma {
		width: 768px;
	}
}

@media handheld, screen and (max-width:850px){
	#enigma {
		width: 90%;
	}
}

@media handheld, screen and (max-width:500px){
	#enigma {
		width: 320px;
	}
}