/*+-----------------+*/
/*|                 |*/
/*| Overall styling |*/
/*|                 |*/
/*+-----------------+*/

* {box-sizing: border-box; margin: 0; padding: 0; font-family: sans-serif; text-decoration: none;}
body{ background-color: #ecf0f1;	 }
#enigma { width: 100%; margin: auto; }
#mainContent { padding:10px; height:auto; }
.clearLeft { clear: left; }
.borderRadiusBotLeft a{border-bottom-left-radius: 10px;}
.borderRadiusBotRight a{border-bottom-right-radius: 10px;}

/*+-----------------+*/
/*|                 |*/
/*|      Header     |*/
/*|                 |*/
/*+-----------------+*/

#mainHeader {
	line-height: inherit;
	background-color: #34495e;
	overflow: auto;
	color: #fff;
	padding-top: 20px;
}

#mainHeader #logo{
	float:left;
	margin:0 10px;
}

#mainHeader h1{
	display:block;
	font-size:1em;
	text-align: center;
	font-weight: 100;
	padding:5px 0px 0px 0px;
	float:left;
}

/*+-----------------+*/
/*|                 |*/
/*|    Navigation   |*/
/*|                 |*/
/*+-----------------+*/

#mainContent nav ul { list-style: none; }

/* 1st menu*/
#mainMenu a, #mainMenu { color:white; }
#mainMenu ul h2{
	text-transform: uppercase;
	padding-left: 3%;
	line-height: 50px;
	font-size: 1.2em;
	text-shadow: 0 0 1px rgba(0,0,0,0.3);
	font-weight: 400 !important;
}
.topLabel{ width: 100%; height: 47px; }

/*2nd menu*/		
#mainMenu ul li a{ 
	line-height: 4em;
	font-weight: 400;
	font-size: 0.8em;
	text-align:center;
	line-height: 50px;
	float: left;
	width: 33%;
}

.margin{ margin-top: 4em; }

#mainMenu{ width: 100%; margin: auto; }

.percentFix a{ width: 34% !important; }

.subMenuTwoElement a { width: 50% !important;}

/*+-----------------+*/
/*|                 |*/
/*|   MainContent   |*/
/*|                 |*/
/*+-----------------+*/


#mainContent label { font-weight: 100; }
